<div align="center">
	<h1>Demanda de los cursos registrados</h1>
	<table  border="1">
	  <thead>
		<tr>
		  <th align="center">Curso</th>
		  <th align="center">Demanda</th>
		  <th align="center">Opciones</th>
		</tr>
	  </thead>

	  <tbody>
		<% @res.each do |dem| %>
		  <tr>
			<td align="center"><%= dem.nombre %></td>
			<td align="center"><%= dem.demanda %></td> 
			<td align="center"><p><%=link_to "Obtener asignacion de cupos",:controller => "optimizador", :action => "asignacionCupos", :curso_id => dem.id_curso%></p></td>         
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>
