<h1>Opciones para el coordinador</h1>
<p><%=link_to "Obtener demanda de una materia",:controller => "cursos", :action => "seleccionar", :controlador => "optimizador",:accion => "asignacionCupos"%></p>
<p><%=link_to "Obtener demanda de todas las materias",:controller => "optimizador", :action => "calcularDemandaTodos"%></p>
<p><%=link_to "Volver", "/index"%></p>
