<h1>Plan de estudios del estudiante <%= $estudiante.nombre %></h1>
<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th>Semestre</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.curso.nombre %></td>
        <td><%= plan.semestre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar materia al plan de estudios', new_plan_path %>
