<h1>New escenario</h1>

<%= render 'form' %>

<span style="float:left;"><%= link_to 'Volver',{:controller => "optimizador", :action => "ultimaOferta"},:class=>"btn btn-info",:style=>'color:#FFFFFF;' %></span>
